@model Student
<html>
	<head>
		<meta charset="utf-8">
		<link href="css/style.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="~/css/studentform.css"/>
	</head>

<body>

<div class="container">
	<form method="post" asp-action="Edit">
				
		<div class="align-content-center">
			<h2 class="text-light" style="font-style: italic">Edit Student Form</h2>
			<hr/>
		</div>

		<div class="align-content-center">
			<label asp-for="FirstName" class="fl fontLabel"> First Name: </label>
			<div class="new iconBox">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>

			<div class="mb-3">
				<input class="textBox" autofocus asp-for="FirstName"/>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
		</div>

		<div class="align-content-center">
			<label asp-for="LastName" class="fl fontLabel"> Last Name: </label>
			<div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>

			<div class="mb-3">
				<input class="textBox" autofocus asp-for="LastName"/>
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>

		</div>

		<div class="align-content-center">
			<label asp-for="Email" class="fl fontLabel"> Email: </label>
			<div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>

			<div class="mb-3">
				<input class="textBox" autofocus asp-for="Email"/>
				<span asp-validation-for="Email"></span>
			</div>
		</div>

		<div class="col-auto;" style="margin-left: 30px">
			<br>
			<button type="submit" class="btn btn-primary" style="width: 150px; background:#ff6600 ">Update</button>
			<a asp-controller="Student" asp-action="Index" class="btn btn-secondary; text-light"
			   style="width: 150px; background:#ff6600;">
				Return
			</a>
		</div>
	</form>

</div>
</body>

</html>

